.mobile-dnd-poly-drag-image {
    opacity: .5 !important;
}

.mobile-dnd-poly-drag-image.snapback {
    -webkit-transition: -webkit-transform 250ms ease-out !important; /* Changed here */
    -moz-transition: -moz-transform 250ms ease-out !important;
    -o-transition: -o-transform 250ms ease-out !important;
    transition: transform 250ms ease-out !important;
}
